   <header>
       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><font color="#FFFFF"><a href=  "http://localhost:3000/profile">Sign Up</a></font></button>



   </header>
    <div class="container">

        <form id="signup" action="/login" method="POST">

            <div class="header">
            
                <h3>Login</h3>
                
                <p class="fill">You want to fill out this form</p>
                
            </div>
            
            <div class="sep"></div>

            <div class="inputs">
            
               <input name="email" placeholder="Email" name="email" autofocus />

                <input type="text" placeholder="Password" name="password" />
                
                <br><button id="submit" href="#">Login</button></br>

            </div>
            <a href="/signup" id="signup">Sign Up<br></a>
        </form>

    </div>
