<form id="movie_input" action="/movies/create" method="POST">
  <label>Title</label>
  <input type="text" name="title" id="title"><br>

  <label>Genre</label>
  <input type="text" name="genre" id="genre"><br>

  <label>Rating</label>
  <input type="number" name="ratings" id="rating"><br>

  <label>Length</label>
  <input type="text" name="length" id="length"><br>

  <label>Release Date</label>
  <input type="month" name="release_date" id="release_date"><br>

  <label>Directed By</label>
  <input type="text" name="directed_by" id="directed_by"><br>

  <input type="text" name="img" id="img"><br>

  <input type="submit" value="Submit">

  <a href="/">Home</a><br>

</form>