<form method="POST" action="/profile/edit">
  <input type="email" id="email" value="<%= @current_user.email %>">

  <input type="password" id="pass" value="<%= @current_user.email %>">

  <input type="submit" placeholder="update">
</form>