  <header class="top">
    <div class="logo">
      <img src="http://fc03.deviantart.net/fs71/f/2013/206/1/9/simple_linux_logo_by_dablim-d5k4ghu.png">
    </div>
    <h1 class="name">Raymond's Blog</h1>
  </header>
  <div class="builtwebpage2"
  <section>
    <header class="heading1">
      <h2>I built a webpage</h2>
      <h3>April 13th, 2015</h3>
      <h4>Raymond <span style="color: green;">Huynh</span> </h4>
      <img src="http://placekitten.com/200/150">
    </header>
  <article>
    <p class="article1">I am <strong>excited</strong> to <em>learn</em> how to build a <em>webpage</em>. I think <span style="color: green;">technology</span> is the future and it is <strong>fun</strong> knowing you can build something. Looking forward to the rest of the class 
    </p>
  </article>
  </section>
  </div>
  
  <aside class="aside1">
      <section>
        <h4>My Pet</h4>
          <p>Oddie</p>
      </section>
      <section>
        <h4 >My Favourite Color</h4>
          <p class="blue">Blue</p>
      </section>
      <section>
        <h4>Bucket List</h4>
          <ul class="bulletalign">
            <li>Travel the World</li>
            <li class="blue">Learn everything</li>
            <li class="teal">Build many companies</li>
          </ul>
      </section>
  </aside>