<div class="title">
      <h1 class="cheroh1">Sign up for free Chero's</h1>
      <img src="http://41.media.tumblr.com/tumblr_lk14f3qLO51qbi785o1_500.jpg" />
      <img src="http://25.media.tumblr.com/tumblr_lvo8isW1MC1r6aoq4o1_500.gif" />
      <a href="http://bennygiang.com/" />
      <h2>To complain click here</h2>
      </a>
    </div>
    <div class="signupform">
      <form class="form1" action="/signup" method="POST">
        <h2>Sign Up</h2>
        <label for="login">E-mail Address:</label><input type="email" name="email" id="login"><br>
        <label for="pass">Password:</label><input type="password" name="password" id="pass"><br>
        <button>Submit</button><br>
        <img class="dance" src="http://38.media.tumblr.com/tumblr_mdgfpehkYN1r8cvzdo1_500.gif"/>
      </form>
      <!--First form-->

    </div>
    <img class="fatkid" src="http://healthpsych.psy.vanderbilt.edu/2008/ChildhoodObesity_files/image001.gif" />
    <img class="ass" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT6Y34gBXsmFzFZlVGnPN-5eWm3dIq2lauHwkGbU9bzRAloskzzvg"/>